* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.column {
  width: 33.33%;
  height: inherit;
  float: left;
}

#col1 {
	background-color: #4a90e2;
}

#col2 {
	background-color: #50e3c2;
}

#col3 {
	background-color: #b8e986;
}

#photo {
	background-color: red;
	width: 33%;
	height: 20%;
	position: absolute;
	bottom: 0;
	line-height: 100px;
	text-align: center;
}